.card-active{
    background: hsl(204, 86%, 53%);height:3.5px;
}
.card-open{
    background: hsl(171, 100%, 41%);height:3.5px;
}
.card-closed{
    background:hsl(0, 0%, 4%);height:3.5px;
}
.card-overdue{
    background:hsl(348, 100%, 61%);height:3.5px
}

.no-padding{
    padding: 0px;
}